@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://fonts.gstatic.com/s/ubuntu/v7/kbP_6ONYVgE-bLa9ZRbvvnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #E8E8E8;
}

#wrapper {
	position: relative;
	min-height: 100%;
}


a:link, a:visited {
	text-decoration: none;
	color: #33CCFF;
}

a:hover, a:active {
	text-decoration: underline;
	color: #33CCFF;
}


/*HEADER*/

header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #595959;
	color: #fff;
	z-index: 1;
}

header #siteid {
	position: absolute;
	left: 5px;
	top: 5px;
}

header span a, #header-logo {
	height: 40px;
	width: 40px;
	margin: auto;
}

header #header-logo {
	display: inline-block;
	background-image: url("../img/dwlogo-white-small.png");
	background-size: cover;
}

header h1 {
	display: inline-block;
	font-size: 125%;
}

header p {
	display: inline;
	font-style: italic
}

header #buttons {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	display: block;
	list-style-type: none;
}

header #buttons li {
	float: right;
	font-size: 75%;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
}

header #searchbar {
	display: none;
	position: absolute;
	margin: 0px;
	padding: 5px;
	top: 50px;
	left: 0px;
	width: 100%;
	background-color: #595959;
}

header #searchbar input {
	padding: 0px;
	border-radius: 12.5px;
	width: 98%;
	border: none;
	margin: 5px auto;
	height: 25px;
	text-align: center;
}

header ul li #menu-icon {
	background-image: url("../img/menu-icon.png");
}

header ul li #search-icon {
	background-image: url("../img/search-icon.png");
}

header ul li span {
	position: relative;
	display: block;
	height: 30px;
	width: 45px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

header nav {
	display: none;
	position: absolute;
	padding-top: 5px;
	top: 50px;
	left: 0px;
	width: 100%;
	background-color: #595959;
}

header nav ul {
	padding: 0px;
	margin: 0px;
}

header nav ul li {
	list-style-type: none;
	width: 100%;
	padding: 5px;
	text-align: center;
}


/*CONTENT*/

#wrapper #content {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
}

#content h2 {
	margin-bottom: 0px;
}

#content p {
	margin-top: 0px;
}

#content ul {
	padding-left: 35px;
}

#content ul li {
	padding: 5px;
	margin-left: -15px;
}

#content .photo {
	max-width: 100%;
}


/*FOOTER*/

footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background-color: #595959;
	text-align: center;
	overflow: hidden;
}

footer div {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-top: 10px;
	font-size: 75%;
	color: #FFF;
}

footer h3 {
	margin-top: 2px;

}

footer #share a img {
	max-width: 25%;
	display: inline;
}

footer div p {
	display: inline;
}

footer #copyright {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 5px;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 900px) {
	header {
		height: 100px;
	}

	header span a, #header-logo {
		height: 80px;
		width: 80px;
	}

	header span h1 {
		font-size: 250%;
	}

	header #siteid {
		margin-left: 15%;
		margin-top: 5px;
	}

	header #buttons {
		margin-right: 15%;
	}

	header #buttons li {
		font-size: 150%;
		width: 100px;
		height: 100px;
		margin-top: 5px;
		text-align: center;
	}

	header #buttons li span {
		height: 60px;
		width: 90px;
	}

	header #buttons #search {
		display: none;
	}

	header #buttons #menu {
		display: block;
	}

	header #searchbar, header #searchbar input {
		display: inline-block;
		width: 200px;
	}

	header #searchbar {
		position: absolute;
		top: 17px;
		right: 400px;
		left: auto;
	}

	header #buttons #searchbar {
		margin-right: 25px;
		margin-top: 20px;
	}

	header nav {
		width: 350px;
		top: 100px;
		left: auto;
		right: 15%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	header nav ul li {
		font-size: 150%;
	}

	#content {
		margin-left: 20%;
		margin-right: 30%;
		font-size: 100%;
		min-width: 50%;
	}

	footer{
		height: 150px;
		font-size: 150%;
	}

	footer #share a {
		max-width: 50%;
	}
}